# Please keep the entries in this file sorted with the following vi command:
# :3,$!LC_ALL=C sort -fu

*.cmd
*.gcno
*.ko
*.ko.unsigned
*.mod
*.mod.c
*.o
*.o.d
*.orig
*.sdtinfo.c
*.sdtstub.S
*.out
*~
.cache.mk
.cache/
.ctf
.depend_adm
.depend_d
.depend_f
.directory
.tmp_versions
built-in.a
debian/*.debhelper.log
debian/*.substvars
debian/.debhelper/
debian/changelog
debian/files
debian/iscsi-scst/
debian/scst-dev/
debian/scst-dkms.install
debian/scst-dkms.postinst
debian/scst-dkms.prerm
debian/scst-dkms/
debian/scst.dkms
debian/scst/
debian/scstadmin/
debian/tmp/
dpkg/
fcst/build_mode
iscsi-scst/conftest/*/result-*.txt
iscsi-scst/include/iscsi_scst_itf_ver.h
iscsi-scst/usr/iscsi-scst-adm
iscsi-scst/usr/iscsi-scstd
Module.markers
Module.symvers
modules.order
MYMETA.json
nightly/diff.short
nightly/final
nightly/new.short
nightly/new.verbose
nightly/nohup.out
nightly/old.short
nightly/old.verbose
nightly/sendmail.log
qla2x00t/in-tree-patches/
qla2x00t/qla2xxx-orig/
rpmbuilddir/
scst.spec
scst/build_mode
scst/include/build_mode.h
scst/include/scst_itf_ver.h
scst/src/.tmp_versions/
scst/src/certs/scst_module_key.der
scst/src/certs/scst_module_key.priv
scstadmin/rpmbuilddir/
scstadmin/scstadmin.*/scst-*/blib
scstadmin/scstadmin.*/scst-*/Makefile
scstadmin/scstadmin.*/scst-*/MYMETA.yml
scstadmin/scstadmin.*/scst-*/pm_to_blib
scstadmin/scstadmin.spec
srpt/build_mode
srpt/conftest/*/result-*.txt
TAGS
usr/fileio/fileio_tgt
usr/stpgd/stpgd
