config SCST_QLA_TGT_ADDON
	tristate "QLogic 2XXX Target Mode Add-On"
	depends on SCST && SCSI_QLA_FC && SCSI_QLA2XXX_TARGET
	default SCST
	help
	  Target mode add-on driver for QLogic 2xxx Fibre Channel host adapters.
	  Visit http://scst.sourceforge.net for more info about this driver.

config QLA_TGT_DEBUG_WORK_IN_THREAD
	bool "Use threads context only"
	depends on SCST_QLA_TGT_ADDON
	help
	  Makes SCST process incoming commands from the qla2x00t target
	  driver and call the driver's callbacks in internal SCST
	  threads context instead of SIRQ context, where thise commands
	  were received. Useful for debugging and lead to some
	  performance loss.

	  If unsure, say "N".

config QLA_TGT_DEBUG_SRR
	bool "SRR debugging"
	depends on SCST_QLA_TGT_ADDON
	help
	  Turns on retransmitting packets (SRR)
	  debugging. In this mode some CTIOs will be "broken" to force the
	  initiator to issue a retransmit request. Useful for debugging and lead to big
	  performance loss.

	  If unsure, say "N".
