diff --git a/drivers/Kconfig b/drivers/Kconfig
index 8bad63417a50..a61b1804fcf3 100644
--- a/drivers/Kconfig
+++ b/drivers/Kconfig
@@ -39,6 +39,8 @@ source "drivers/ata/Kconfig"
 
 source "drivers/md/Kconfig"
 
+source "drivers/scst/Kconfig"
+
 source "drivers/target/Kconfig"
 
 source "drivers/message/fusion/Kconfig"
