diff -uprN ../orig/linux-2.6.24/drivers/Kconfig linux-2.6.24/drivers/Kconfig
--- ../orig/linux-2.6.24/drivers/Kconfig        2008-01-24 23:58:37.000000000 +0100
+++ linux-2.6.24/drivers/Kconfig        2008-05-13 13:05:55.000000000 +0200
@@ -18,6 +18,8 @@

 source "drivers/scsi/Kconfig"

+source "drivers/scst/Kconfig"
+
 source "drivers/cdrom/Kconfig"

 source "drivers/md/Kconfig"
